<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozmusic.app">
    
    <!-- Require touchscreen for phone -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true"/>
    
    <application>
        <activity android:name="com.mozmusic.app.MainActivity">
            <!-- Standard phone/tablet launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- Declare as a Music App to the System -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Support standard music player intent action (used by legacy/custom OEM lists) -->
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Support Google Assistant/Voice search music play commands -->
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            
            <!-- Audio file "Open with" intent -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>

            <!-- "Share to app" intent -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>